@font-face {
    font-family: "Futura Bold";
    src: url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.eot");
    src: url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.svg#Futura") format("svg");
}

@font-face {
    font-family: "Futura Light";
    src: url("//db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.eot");
    src: url("//db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.svg#Futura BQ") format("svg");
}

@font-face {
    font-family: "Futura Extra Bold";
    src: url("//db.onlinewebfonts.com/t/2fc7c2a9dd4355c9681920a76f34f177.eot");
    src: url("//db.onlinewebfonts.com/t/2fc7c2a9dd4355c9681920a76f34f177.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/2fc7c2a9dd4355c9681920a76f34f177.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/2fc7c2a9dd4355c9681920a76f34f177.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/2fc7c2a9dd4355c9681920a76f34f177.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/2fc7c2a9dd4355c9681920a76f34f177.svg#Futura") format("svg");
}

@font-face {
    font-family: "Futura Medium";
    src: url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.eot");
    src: url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.svg#Futura") format("svg");
}

$f-lite: "Futura Light";
$f-reg: "Futura Medium";
$f-bold: "Futura Bold";
$f-extra: "Futura Extra Bold";